<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="UCO">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template for views</title>
</head>
<body>
  <!-- Ejemplo Thymeleaf -->
  <h1>Error al añadir la inscripción</h1>
</body>
</html>