<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error al añadir patrón</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <h1>Error al añadir el patrón</h1>
  <div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color:red;"></p>
  </div>
  <p><a th:href="@{/addPatron}">Volver al formulario</a></p>
  <p><a th:href="@{/}">Volver al menú</a></p>
</body>
</html>
