<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Reserva</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Añadir Reserva</h1>

<form method="POST" th:action="@{/addReserva}" th:object="${newReserva}">

    <label for="matriculaEmbarcacion">Matrícula de embarcación:</label><br/>
    <input type="text" th:field="*{matriculaEmbarcacion}" id="matriculaEmbarcacion" required/><br/><br/>

    <label for="plazasReserva">Plazas reservadas:</label><br/>
    <input type="number" th:field="*{plazasReserva}" id="plazasReserva" step="1" min="1" required/><br/><br/>

    <label for="fechaReserva">Fecha de reserva:</label><br/>
    <input type="date" th:field="*{fechaReserva}" id="fechaReserva" required/><br/><br/>

    <label for="precioReserva">Precio de la reserva:</label><br/>
    <input type="number" th:field="*{precioReserva}" id="precioReserva" step="0.01" min="0" required/><br/><br/>

    <input type="submit" value="Enviar"/>
</form>

<!-- Mensaje opcional si envías algún atributo de error -->
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color:red;"></p>
</div>

<p><a th:href="@{/}">Volver al menu</a></p>
</body>
</html>
