<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Socio Añadido con Éxito</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Socio añadido con éxito</h1>

    <p>Socio: <span th:text="${socio.nombre}">Nombre</span> 
        <span th:text="${socio.apellidos}">Apellidos</span> (DNI: <span th:text="${socio.dni}">DNI</span>)</p>

    <p><a th:href="@{/addSocio}">Volver al formulario</a></p>
    <p><a th:href="@{/}">Volver al menú</a></p>
</body>
</html>
