<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Añadir Socio</title>
</head>
<body>
  <h1>Añadir Socio</h1>

  <form method="POST" th:action="@{/addSocio}">
    <label for="dni">DNI:</label><br/>
    <input type="text" id="dni" name="dni" placeholder="12345678A" required/><br/><br/>

    <label for="nombre">Nombre:</label><br/>
    <input type="text" id="nombre" name="nombre" required/><br/><br/>

    <label for="apellidos">Apellidos:</label><br/>
    <input type="text" id="apellidos" name="apellidos" required/><br/><br/>

    <label for="direccion">Dirección:</label><br/>
    <input type="text" id="direccion" name="direccion" required/><br/><br/>

    <label for="fechaNacimiento">Fecha de nacimiento:</label><br/>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required/><br/><br/>

    <input type="submit" value="Enviar"/>
  </form>

  <p><a th:href="@{/}">Volver al menú</a></p>
</body>
</html>
