<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Añadir Socio</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <h1>Añadir Socio</h1>

  <form method="POST" th:action="@{/addSocio}">
    <label for="dni">DNI:</label><br/>
    <input type="text" id="dni" name="dni" placeholder="12345678A" required/><br/><br/>

    <label for="nombre">Nombre:</label><br/>
    <input type="text" id="nombre" name="nombre" required/><br/><br/>

    <label for="apellidos">Apellidos:</label><br/>
    <input type="text" id="apellidos" name="apellidos" required/><br/><br/>

    <label for="direccion">Dirección:</label><br/>
    <input type="text" id="direccion" name="direccion" required/><br/><br/>

    <label for="fechaNacimiento">Fecha de nacimiento:</label><br/>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required/><br/><br/>

    <label for="inscripcion">Tipo de Inscripcion</label><br/>
    <select type="inscripcion" id="inscripcion" name="inscripcion" required>
      <option value="INDIVIDUAL">INDIVIDUAL</option>
      <option value="FAMILIAR">FAMILIAR</option> 
    </select>

        <div id="familyOptions" style="background-color: #f7f9fc; margin-top: 15;">
        <h3 style="margin-top: 0;">Opciones para la Inscripción Familiar</h3>

        <!-- Elegir Crear o Unirse -->
        <input type="radio" id="crearFamilia" name="familyAction" value="CREATE">
        <label for="crearFamilia">Crear Familia</label><br/>

        <input type="radio" id="familyJoin" name="familyAction" value="JOIN">
        <label for="familyJoin">Unirse a Familia Existente</label><br/><br/>

        <!-- Campo para ID de Familia-->
        <div id="joinFamilyIdField">
            <label for="familiaId">ID de Familia a Unirse:</label><br/>
            <!-- El campo familyId es opcional, ya que solo se usa si familyAction es JOIN -->
            <input type="text" id="familiaId" name="familiaId" placeholder="Introduce el ID de familia"/>
            <br/>
        </div>
    </div>

    <input type="submit" value="Enviar"/>
  </form>

  <p><a th:href="@{/}">Volver al menú</a></p>
</body>
</html>
