<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My first application</title>
        <body>
            <h1>Welcome to {Club Nautico}</h1>
            <h2>MENU</h2>
            <h3>Alquiler</h3>
            <ol>
                <li><a href="/addAlquiler">Añade un Alquiler</a></li>
                <li><a href="/addAlquiler"></a>Working on</li>
                <li><a href="/addAlquiler"></a>Working on</li>
                <li><a href="/addAlquiler"></a>Working on</li>
            </ol>
            <img th:src="@{/images/UCO.png}" style="height: 350px"/>
        </body>
    </head>
</html>


