<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Familia</title>
</head>
<body>
<h1>Añadir Familia</h1>

<form method="POST" th:action="@{/addFamilia}" th:object="${newFamilia}">
    <!-- ID de la familia -->
    <label for="id">ID de la familia:</label><br/>
    <input type="number" th:field="*{id}" id="id" required/><br/><br/>

    <label for="mainDni">DNI del titular principal (mainDni):</label><br/>
    <input type="number" th:field="*{mainDni}" id="mainDni" required/><br/><br/>

    <input type="submit" value="Enviar"/>
</form>

<!-- Mensaje opcional si envías algún atributo de error -->
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color:red;"></p>
</div>

<p><a th:href="@{/}">Volver al menu</a></p>
</body>
</html>
