<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Inscripción</title>
</head>
<body>
<h1>Añadir Inscripción</h1>

<form method="POST" th:action="@{/addInscripcion}" th:object="${newInscripcion}">
    <!-- ID oculto si el repo lo autogenera o lo asignamos en el controlador -->
    <input type="hidden" th:field="*{id}"/>

    <label for="socioTitular">Titular :</label><br/>
    <input type="text" th:field="*{socioTitular}" id="socioTitular" required/><br/><br/>

    <label for="type">Tipo de la inscripción :</label><br/>
    <input type="text" th:field="*{type}" id="type" placeholder="Individual," required/><br/><br/>

    <label for="yearFee">Cuota de inscripción (€) :</label><br/>
    <input type="number" th:field="*{yearFee}" id="yearFee" step=" 0.01" min="0" required/><br/><br/>

    <label for="date">Fecha de inscripción:</label><br/>
    <input type="date" th:field="*{date}" id="date" required/><br/><br/>

    <input type="hidden" th:field="*{familiaId}"/> <!-- ESTO NO SE SI ESTA BIEN -->

    <input type="submit" value="Enviar"/>
</form>

<!-- Mensaje opcional si envías algún atributo de error -->
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}" style="color:red;"></p>
</div>

<p><a th:href="@{/}">Volver al menu</a></p>
</body>
</html>